<%= render 'partials/navbar' %>

<div class="jumbotron jumbotron-fluid">
<div class="container">

<h1 style="text-align: center;">Doctors</h1>

<div id="top-container">
    <!-- adding doctor to database -->
    <div id="doctorprofile_add" style="float: right"><%= link_to 'New Doctor', new_doctorprofile_path, class: "btn btn-success btn-m" %></div>
    <!-- Search bar for searching doctors -->
    <div id="search_bar" style="float: left">

        <!-- Search bar -->
<p>
<%= form_tag(doctorprofiles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Doctors by name" %>
    <%= submit_tag "Search By Name", :name => nil %>
    
<% end %>
</p>
</div>
<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
       <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Address</th>
	<th scope="col">User</th>
	<th scope="col">ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctorprofiles.each do |doctorprofile| %>
      <tr>
        <td><%= doctorprofile.name %></td>
        <td><%= doctorprofile.contactNumber %></td>
        <td><%= doctorprofile.address %></td>
        <td><%= doctorprofile.user %></td>
        <td><%= doctorprofile.id %></td>
        <td><%= link_to 'Show', doctorprofile %></td>
        <td><%= link_to 'Edit', edit_doctorprofile_path(doctorprofile) %></td>
        <td><%= link_to 'Delete', doctorprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>

<%= render 'partials/footer' %>
