<%= render 'partials/navbar' %>

<div class="jumbotron jumbotron-fluid">
<div class="container">

<h1 style="text-align: center;">Patients</h1>

<div id="top-container">
    <!-- adding patient to database -->
    <div id="patient_add" style="float: right"><%= link_to 'New Patient', new_patient_path, class: "btn btn-success btn-m" %></div>
    <!-- Search bar for searching patients -->
    <div id="search_bar" style="float: left">

        <!-- Search bar -->
<p>
<%= form_tag(patients_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search patients by name" %>
    <%= submit_tag "Search By Name", :name => nil %>
    
<% end %>
</p>
</div>
<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Address</th>
      <th scope="col">Gender</th>
      <th scope="col">dob</th>
      <th scope="col"><%= UserDecorator.new(@patient).pps_to_uppercase%></th>
      <th scope="col">ID</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
      
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.contactNumber %></td>
        <td><%= patient.address %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.ppsNumber %></td>
        <td><%= patient.id %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>

<%= render 'partials/footer' %>
